body {
  background-color: #ffd31a;
}

img {
  width: 100%;
}

main {
  padding: 30px 0;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 539px) {
  .wrapper {
    padding: 0 1rem;
  }
}

.container {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

th {
  height: 30px;
  text-align: center;
  background-color: #fff !important;
}

td {
  height: 100px;
  background-color: #fff !important;
}

.today {
  background: #ffd0d7 !important;
}

th:nth-of-type(1), td:nth-of-type(1) {
  color: red;
}

th:nth-of-type(7), td:nth-of-type(7) {
  color: blue;
}

.arrow {
  color: #000;
}

.hero {
  margin-bottom: 30px;
}
